body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  
}

.container {
    display: flex;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

/* LEFT CONTAINER */
.imageContainer {
    height: 100%;
    background-color: rgb(171, 171, 249);
    flex: 1 0 10vw;
    position: relative;
}

.video {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    top: 0;
}

.logo {
    position: absolute;
    left: 2%;
    top: 2%;
    font-size: 38px;
    color: rgb(255, 255, 255);
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0.9;
}

.creditArtist {
    position: absolute;
    height: 1vw;
    width: 100%;
    background-color: rgb(22, 21, 21, .1);
    color: rgb(180, 175, 175);
    justify-content: center;
    display: flex;
    align-items: center;
    bottom: 10px;
}

@media screen and (max-width: 600px) {
    .imageContainer {
        display: none;
    }

}

/* RIGHT CONTAINER */
.formContainer {
    height: 100%;
    background-color: rgb(230, 237, 246);
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
}

.formBlock {
    height: 30vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 6px rgb(220, 219, 219);
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}

.information{
    width: 70%;
    margin: 15px 30px 20px 30px;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(68, 61, 61, .9);
}

p{
    padding: 0;
    margin: 0 0 20px 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formColumn{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputColumn{
    display: flex;
    flex-direction: column;
}

label{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

input{
    border: none;
    border-radius: 3px;
    outline: 1px solid silver;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(68, 61, 61, .9);
}

input:focus{
    outline: 1px solid rgb(126, 149, 255);
    box-shadow: 1px 1px 3px rgb(119, 116, 116);
}

input:invalid{
    outline: 1px solid red;
}


button{
    margin: 0 30px 0 30px;
    background-color: rgb(97, 153, 205);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: 1px solid rgb(171, 171, 229);
    border: none;
    height: 5vh;
    border-radius: 3px;
}

button:hover{
    background-color: rgb(54, 117, 171);
    cursor: pointer;
}

button:active{
    box-shadow: inset 0px 0px 4px rgb(51, 46, 46);
}

.login{
    letter-spacing: 1px;
    margin: 10px 10px 0 30px;
}

a{
    color: rgb(110, 110, 242);
}

a:hover{
    color: blue;
    cursor: pointer;
}
